@page "/challenges"

<div class="board-container">
    <div class="card">
        <img src="./images/age-counter.jpg" alt="Imagen de ejemplo">
        <div class="overlay">
            <a href="./agecounter" style="color: white; text-decoration: none;">Age Counter</a>
        </div>
    </div>
</div>