@page "/"

<PageTitle>Home</PageTitle>

<main class="main-container">
    <div class="content-container">
        <h1 class="title">Frontend Mentor Challenge Solutions with Blazor</h1>
        <p class="description">
            "Explore my solutions to Frontend Mentor challenges, developed using .NET, Blazor, and C#.
            In this project, I combine my frontend and backend development skills to create interactive
            and modern web applications. Join me on this journey of continuous learning and improvement!"
        </p>
        <a class="explore-anchor" href="./challenges">Explore now</a>
    </div>
</main>