@page "/qrCode"

<div class="main">
	<div class="card-container">
		<img class="card-img" src="./challengesResources/qrCode/image-qr-code.png" alt="qr image" />
		<div class="card-container-information">
			<h1 class="card-title">Improve your front-end skills by building projects</h1>
			<p class="card-description">Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
		</div>
	</div>
</div>